* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 100px;
    flex-wrap: wrap;
}

.card {
    width: 200px;
    height: 220px;
    background: royalblue;
    color: white;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    transition: all 0.3s ease;
    animation: aparecer 1s ease;
}

.card:hover {
    transform: translateY(-10px);
    scale(1.05);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
}

@keyframes aparecer {
    from {
        opacity: 0;
        transform: translateY(30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}