* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  display: flex;
  gap: 20px;
  padding: 20px;
}
.card {
  background: royalblue;
  color: white;
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Media Query para Mobile */
@media (max-width: 600px) {
  .container {
    flex-direction: column;
    align-items: center;
  }
}

.menu {
  display: flex;
  justify-content: center;
  gap: 20px;
}

@media (max-width: 600px) {
  .menu {
    flex-direction: column;
    align-items: center;
  }
}

img {
  max-width: 150px;
  max-height: 150px;
}

/* Padrão = Celular */
.container {
  flex-direction: column;
}
@media (min-width: 768px) {
  .container {
    flex-direction: row;
  }
}

button:hover {
  transform: scale(1.1);
}

img:hover {
  transform: rotate(10deg);
  animation: rotate 2s linear infinite;
}

.card:hover {
  transform: translateY(-10px);
  transform: skew(10deg);
}

.card {
    transition: all 0.3s ease;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.filter-blur {
  filter: blur(2px);
}

.filter-grayscale {
  filter: grayscale(120%);
}

.brightness {
  filter: brightness(100%);
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
